/* *{
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0, rgba(43, 75, 202, 0.881) 50%,  rgba(164, 174, 221, 0.26) 100% );
} */

/* body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
} */


/**************** commons *********************/



body {
  /* background: rgb(199,224,213);
  background: linear-gradient(90deg, rgba(199,224,213,1) 0%, rgba(185,212,203,1) 70%, rgba(136,181,169,1) 100%); */
  /* background: rgb(199,224,213);
  background: linear-gradient(90deg, rgba(199,224,213,1) 31%, rgba(185,212,203,1) 72%, rgba(136,181,169,1) 100%); */
  /* background: rgb(203,228,217);
  background: linear-gradient(90deg, rgba(203,228,217,1) 31%, rgba(157,188,178,1) 72%, rgba(95,154,138,1) 100%); */
  background: rgb(224,215,219);
  background: radial-gradient(circle, rgba(224,215,219,1) 0%, rgba(156,187,177,1) 50%);

}

h1, h2, p{
  color: #ffff;
  font-family: "Roboto Condensed", serif;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

button{
  border-radius: 10px;
  border: 1px solid #fff;
  background: transparent;
  color:  white;
  width: 100%;
}

/******>>>>>>>>********* Section *******<<<<<<<<**********/

#home-page{
  padding: .1% 5%;
}
/**************** Header *********************/
#header{
  display: flex;;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#header h1{
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 200;
}

.nav-btn{
  display: flex;
  padding-right: 5px;
  gap: 10px;
  /* width: 20%; */
}

#main button{
  padding: 10px;
  width: fit-content;
  background-color: #7C9A90;
  border-color: transparent;
  font-weight: 600;
}

#main h1 {
  color: #5B6658;
  font-size: 5rem;
  margin: 0;
  padding-top: 50px;
}

#main h1, h2{
  font-family: "Markazi Text", serif;
}

#main p{
  font-weight: 200;
}



/**************** Main *********************/

main{
  display: flex;
  /* gap: 50px; */
  width: 100%;
}
#main{
  width: 40%;
}
.img{
  padding-top: 10%;
  height: 100%;
  width: 50%;
}
img{
  height: 100%;
  width: 100%;
}

/**************** Footer *********************/
#footer{      
  bottom: 0;
  left: 10px;
  right: 10px;
  position: fixed;    
  padding: 5px 70px;
}

.footer-btn{
  /* width: 100vw; */
  display: flex;
  justify-content: space-around;
}


/**************** Responsive *********************/


@media ( width <= 480px) {

  #header h1{
    font-size: 1.5rem;
  }
  .nav-btn{
    width: noraml;
  }
  main{
    display: block;
    /* width: 100%; */
  }
  #main {
    width: 100%;
  }

  #main h1 {
    padding-top: 2%;
    font-size: 3rem;
  }
  #main p {
    width:  80%;
    font-size: 1rem;
  }
  #main button{
    margin-top: 4%;
  }
  img{
    display:flow-root;
    margin-left: 10%;
  }
  .img{
    position: absolute;
    top: 65%;
    z-index: -1;
    margin: 0;
    border: 0;
    padding-top: 2%;
    width: 300px;
    height: 300px; 
  }
}